packages
artifacts/**
build/**
Documentation/ApiDocs/**
.DS_Store
.npmrc
.npmignore
.gitignore
QAReport.md
QAReport.md.meta
CGTK.Utilities.BetterMath.CodeGen*
CGTK.Utilities.BetterMath.PerformanceTests*
CGTK.Utilities.BetterMath.Shaders*
*.sln*
*.db*
**/*.csproj*
**/packages.config*
**/bin
**/obj

upm-ci~/**
.Editor/**
.yamato/**
*.zip*
TestRunnerOptions.json
.idea/**